// fonts
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab'

$roboto-slab()
    font-family 'Roboto Slab', serif
    font-weight 400
    
$open-sans()
    font-family 'Open Sans', Helvetica, Arial, sans-serif
    font-weight 400