#content
    padding 50px
    background-color white
    
    .row
        margin-bottom 10px
        align-content flex-start
    
    h2
        $roboto-slab()
        color $color-scripted
        font-size 30px
        border-bottom 1px solid rgb(230,230,230)
        
    h3
        $roboto-slab()
        font-size 24px
        color rgb(75,75,75)
    
    p
        font-size 16px
        
        &.align-right
            text-align right
        
    em
        font-size 90%
        
    strong
        color $color-scripted
        
    a
        color $color-scripted
        
    pre
        padding 10px
        margin-top 0
        background-color rgb(240,240,240)
        user-select none
        
    .popcode-link
        display block
        position absolute
        z-index 99
        right 15px
        top 0px
        opacity 0.5
        
        background-color $color-popcode
        padding 5px 10px
        
        $roboto-slab()
        font-size 12px
        color rgb(50,50,50)
        
        transition opacity 0.15s ease-in
        &:hover
            opacity 1