#flexbox-example
    display flex
    justify-content center
    padding 10px
    background-color rgb(240,240,240)
    transition all 0.25s ease-in
    
    .box
        padding 20px 30px
        color white
        margin 10px
        
        &.box1
            background-color green
        &.box2
            background-color yellow
        &.box3
            background-color red
        &.box4
            background-color blue
            

#flexbox-example-live
    ul
        list-style none
        display flex
        justify-content space-between
        flex-wrap wrap
        
        li
            margin 5px
            padding 5px 10px
            cursor pointer
            
            background-color rgb(240,240,240)
            &:hover
                background-color rgb(220,220,220)
