#menu
    background-color $color-scripted
    text-align right
    padding 25px

    ul
        list-style none
        $roboto-slab()
        color rgb(230,230,230)
        
        li
            cursor pointer
            transition all 0.25s ease-in
            
            &:hover
                color rgb(250,250,250)
                margin-right 5px
                padding-right 5px
        

        &.top-menu
            font-size 20px
            
            li
                padding 5px 0
                
                &.current
                    color rgb(255,255,255)
                

        &.sub-menu
            font-size 15px
            padding-bottom 20px
            
            li
                margin 0
                padding 0